	body {
		background:url(bg.jpg);
		overflow:hidden;
		color:gray;
		
	}
	#main {
        width:	100%;
        height: 100%;
    }
    .page {
       overflow:auto;
	   background:rgba(0,0,0,0.8);
	   border-radius:12px;
    }